slnSunatAplicacion/WebExamen/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Login_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Login_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usp_Listarusuario_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Listarusuario_Result" nillable="true" type="tns:usp_Listarusuario_Result" />
  <xs:complexType name="ArrayOfusp_ListarUsuarios_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ListarUsuarios_Result" nillable="true" type="tns:usp_ListarUsuarios_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ListarUsuarios_Result" nillable="true" type="tns:ArrayOfusp_ListarUsuarios_Result" />
  <xs:complexType name="usp_ListarUsuarios_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ListarUsuarios_Result" nillable="true" type="tns:usp_ListarUsuarios_Result" />
</xs:schema>