slnSunatAplicacion/WebFerreteria/Connected Services/SVRsunat/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sunat_BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sunat_BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfObtenerEmpresaTodas_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObtenerEmpresaTodas_Result" nillable="true" type="tns:ObtenerEmpresaTodas_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObtenerEmpresaTodas_Result" nillable="true" type="tns:ArrayOfObtenerEmpresaTodas_Result" />
  <xs:complexType name="ObtenerEmpresaTodas_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Llave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerEmpresaTodas_Result" nillable="true" type="tns:ObtenerEmpresaTodas_Result" />
  <xs:complexType name="ArrayOfObtenerEmpresa_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObtenerEmpresa_Result" nillable="true" type="tns:ObtenerEmpresa_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObtenerEmpresa_Result" nillable="true" type="tns:ArrayOfObtenerEmpresa_Result" />
  <xs:complexType name="ObtenerEmpresa_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Llave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObtenerEmpresa_Result" nillable="true" type="tns:ObtenerEmpresa_Result" />
</xs:schema>