slnSunatAplicacion/WebFerreteria/Connected Services/SVRsunat/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51530/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sunat_BE" />
  <xs:import schemaLocation="http://localhost:51530/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="ObtenerListaEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sunat_BE" minOccurs="0" name="ObtenerListaEmpresasResult" nillable="true" type="q1:ArrayOfObtenerEmpresaTodas_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdempresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pLlave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sunat_BE" minOccurs="0" name="ObtenerEmpresaResult" nillable="true" type="q2:ArrayOfObtenerEmpresa_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ValidarUsuarioResult" nillable="true" type="q3:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>