slnSunatAplicacion/WebFerreteria/Connected Services/SVRsunat/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51530/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51530/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51530/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sunat_BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerListaEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaEmpresas" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_EditarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerListaEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaEmpresas" message="tns:IService1_ObtenerListaEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaEmpresasResponse" message="tns:IService1_ObtenerListaEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerEmpresa" message="tns:IService1_ObtenerEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerEmpresaResponse" message="tns:IService1_ObtenerEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarUsuario" message="tns:IService1_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarUsuarioResponse" message="tns:IService1_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarEmpresa" message="tns:IService1_AgregarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarEmpresaResponse" message="tns:IService1_AgregarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditarEmpresa" message="tns:IService1_EditarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditarEmpresaResponse" message="tns:IService1_EditarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarEmpresa" message="tns:IService1_EliminarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarEmpresaResponse" message="tns:IService1_EliminarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListaEmpresas">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/EditarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51530/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>